node_modules/
backend/node_modules/
backend/routes/node_modules/

.env
backend/.env
*.log

backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/verification/
!backend/uploads/verification/.gitkeep
database/backups/*
!database/backups/.gitkeep

.DS_Store
Thumbs.db
